<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contacto</title>
</head>
<body>
    {% if Info_enviado %}
        <h2>La información suministrada es:</h2>
        <p>Email: {{ email }}</p>
        <p>Título: {{ title }}</p>
        <p>Texto: {{ text }}</p>
    {% else %}
        <form action="" method="post">
            {% csrf_token %}
            {{ formulario.as_p }}
            <input type="submit" value="Enviar">
        </form>
    {% endif %}
</body>
</html>

