{% extends 'base.html' %}

{% block titulo %}
{{ p.nombre }}
{% endblock %}

{% block contenido %}
    <h1>Detalle</h1>
    <p><b>Descripción:</b> {{ p.descripcion }}</p>
    <p><b>Precio:</b> ${{ p.precio }}</p>
    <p><b>Stock:</b> {{ p.stock }} unidades</p>
    <p><b>Marca:</b> {{ p.marca }}</p>

    <h2>Categorías</h2>
    {% if p.categorias.all %}
        {% for categoria in p.categorias.all %}
            <span class="label label-info">{{ categoria.nombre }}</span>
        {% endfor %}
    {% else %}
        <h3>Sin categorías</h3>
    {% endif %}
    
    <br>
    <a href="{% url 'vista_lista_producto' %}"><br> Regresar a la lista</a>
{% endblock %}

